<?xml version="1.0" encoding="UTF8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--绑定一个对应的Dao/Mapper接口-->
<mapper namespace="com.zhoushiya.mybatismutidatasource.generator.testdb2.mapper.ReaderMapper">
    <select id="getAll" resultType="com.zhoushiya.mybatismutidatasource.generator.testdb2.entity.Reader">
        select * from testdb2.reader;
    </select>
    <insert id="insert" parameterType="com.zhoushiya.mybatismutidatasource.generator.testdb2.entity.Reader">
        insert into testdb2.reader (name) values (#{name});
    </insert>
</mapper>